body {
    background-color: rgba(127, 197, 255, 0.151);
    
}
header {
    background: rgb(255, 208, 1);
    top: 0;
    left: 0;
    border-bottom: 5px solid black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(237, 250, 242);
}
footer{
    
    background: rgb(255, 208, 1);
    bottom: 0;
    left: 0;
    border-top: 5px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    }
    .containerGallery {
      width: auto;
      margin: auto;
    
}
    .gallery-img{
        object-fit: cover;
        width: 450px;
        height: 250px;
        border: 1px solid black;
        border-radius: 2px;
        margin: 10px;
       }
       #grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start; 
       }
      